<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjf.server.mapper.RoleMapper">

    <select id="getRoles" resultType="com.pjf.server.entity.Role">
        select r.id, r.name, r.nameZh
        from t_role as r
                 left join t_admin_role tar on r.id = tar.rid
        where tar.adminId = #{adminId}
    </select>
</mapper>
